@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
  background-color: #eeeffa !important;
}

.draggable-item.dragging {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: white; /* Ensure the dragged item has a background to avoid transparency issues */
}
